{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}| Courses{% endblock %}

{% block content %}
    <div id="wrapper-content"><!-- PAGE WRAPPER-->
    <div id="page-wrapper"><!-- MAIN CONTENT-->
        <div class="main-content"><!-- CONTENT-->
            <div class="content">
                <div class="section background-opacity page-title set-height-top">
                    <div class="container">
                        <div class="page-title-wrapper"><!--.page-title-content--><h2 class="captions">all courses</h2>
                            <ol class="breadcrumb">
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li class="active"><a href="#">Courses</a></li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="section section-padding courses">
                    <div class="container">
                        <div class="group-title-index"><h2 class="center-title">Preuniversity Courses</h2><h4 class="top-title">Having over <b>700 students</b> around Uzbekistan and more than <b>300 online courses</b></h4><!--.bottom-title<i class="bottom-icon icon-a-1-01"></i>--></div>
                        <div class="courses-wrapper"><!-- Nav tabs-->
                            <!-- Tab panes-->
                            <div class="tab-content courses-content">
                                <div id="campus" role="tabpanel" class="tab-pane fade in active">
                                    <div class="style-show style-grid row">
                                        <div class="col-style">
                                            <div class="edugate-layout-2">
                                                <div class="edugate-layout-2-wrapper">
                                                    <div class="edugate-content"><a href="courses-detail.html" class="title">Photoghaphy Master</a>

                                                        <div class="info">
                                                            <div class="author item"><a href="#">By Admin</a></div>
                                                            <div class="date-time item"><a href="#">17 sep 2015</a></div>
                                                        </div>

                                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-80"><strong class="rating">5.00</strong> out of 5</span></div>
                                                        <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less</div>
                                                        <button onclick="window.location.href='courses-detail.html'" class="btn btn-green"><span>learn now</span></button>
                                                    </div>
                                                    <div class="edugate-image"><img src="assets/images/courses/courses-4.jpg" alt="" class="img-responsive"/></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-style">
                                            <div class="edugate-layout-2">
                                                <div class="edugate-layout-2-wrapper">
                                                    <div class="edugate-content"><a href="courses-detail.html" class="title">Photoghaphy Master</a>

                                                        <div class="info">
                                                            <div class="author item"><a href="#">By Admin</a></div>
                                                            <div class="date-time item"><a href="#">17 sep 2015</a></div>
                                                        </div>

                                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-60"><strong class="rating">5.00</strong> out of 5</span></div>
                                                        <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less</div>
                                                        <button onclick="window.location.href='courses-detail.html'" class="btn btn-green"><span>learn now</span></button>
                                                    </div>
                                                    <div class="edugate-image"><img src="assets/images/categories/categories-1.jpg" alt="" class="img-responsive"/></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-style">
                                            <div class="edugate-layout-2">
                                                <div class="edugate-layout-2-wrapper">
                                                    <div class="edugate-content"><a href="courses-detail.html" class="title">Photoghaphy Master</a>

                                                        <div class="info">
                                                            <div class="author item"><a href="#">By Admin</a></div>
                                                            <div class="date-time item"><a href="#">17 sep 2015</a></div>
                                                        </div>

                                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-60"><strong class="rating">5.00</strong> out of 5</span></div>
                                                        <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less</div>
                                                        <button onclick="window.location.href='courses-detail.html'" class="btn btn-green"><span>learn now</span></button>
                                                    </div>
                                                    <div class="edugate-image"><img src="assets/images/courses/courses-2.jpg" alt="" class="img-responsive"/></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-style">
                                            <div class="edugate-layout-2">
                                                <div class="edugate-layout-2-wrapper">
                                                    <div class="edugate-content"><a href="courses-detail.html" class="title">Photoghaphy Master</a>

                                                        <div class="info">
                                                            <div class="author item"><a href="#">By Admin</a></div>
                                                            <div class="date-time item"><a href="#">17 sep 2015</a></div>
                                                        </div>

                                                        <div title="Rated 5.00 out of 5" class="star-rating"><span class="width-40"><strong class="rating">5.00</strong> out of 5</span></div>
                                                        <div class="description">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using. It is a long established fact that a reader will be distracted by the readable content of a page when l ooking at its layout. The point of using. Dalmatian hello amazing the rmore flung as thanks a manta dealt to under emu some the and one baldbe dear sobbingly save and spitefully less</div>
                                                        <button onclick="window.location.href='courses-detail.html'" class="btn btn-green"><span>learn now</span></button>
                                                    </div>
                                                    <div class="edugate-image"><img src="assets/images/courses/courses-1.jpg" alt="" class="img-responsive"/></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
</div>
{% endblock %}