{% extends 'auth_base.html' %}
{% load staticfiles %}
{% block title %}| Register{% endblock %}
{% block content %}
    <div id="wrapper-content"><!-- PAGE WRAPPER-->
        <div id="page-wrapper"><!-- MAIN CONTENT-->
            <div class="main-content"><!-- CONTENT-->
                <div class="content">
                    <div class="page-register rlp">
                        <div class="container">
                            <div class="register-wrapper rlp-wrapper">
                                <div class="register-table rlp-table"><a href="index.html"><img
                                        src="{% static 'images/logo_200-52.png' %}" alt="" class="login"/></a>

                                    <div class="register-title rlp-title">create your account and join with us!</div>
                                    <form action="" method="post">
                                        {% csrf_token %}
                                    <div class="register-form bg-w-form rlp-form">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="regname" class="control-label form-label">NAME <span
                                                        class="highlight">*</span></label>
                                                <input id="username" name="username" type="text" placeholder=""
                                                       class="form-control form-input"/>
                                                <!--p.help-block Warning !-->
                                            </div>

                                            <div class="col-md-6">
                                                <label for="regemail" class="control-label form-label">email <span
                                                        class="highlight">*</span></label>
                                                <input id="email" name="email" type="email" placeholder=""
                                                       class="form-control form-input"/>
                                                <!-- p.help-block Warning !-->
                                            </div>

                                            <div class="col-md-6">
                                                <label for="regpassword" class="control-label form-label">password <span
                                                        class="highlight">*</span></label>
                                                <input id="password1" name="password1" type="password" placeholder=""
                                                       class="form-control form-input"/>
                                                <!-- p.help-block Warning !-->
                                            </div>


                                            <div class="col-md-6">
                                                <label for="reregpassword" class="control-label form-label">confirm
                                                    password <span class="highlight">*</span></label>
                                                <input id="password2" name="password2" type="password"
                                                       placeholder=""
                                                       class="form-control form-input"/>
                                                <!-- p.help-block Warning !-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="register-submit">
                                        <button type="submit" class="btn btn-register btn-green"><span>create account</span></button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- BUTTON BACK TO TOP-->
        <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
    </div>
{% endblock %}